:root {
  --ac-color: #1a1;
  --dark-fg-color: white;
  --dark-bg-color: #111;
  --light-fg-color: black;
  --light-bg-color: #aaf;
}

*, *::before, *::after { box-sizing: border-box; }

body {
  float: left;
  margin: 0;
  min-height: 100vh;
  width: 100%;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;

  background-color: var(--dark-bg-color);
  color: var(--dark-fg-color);
}

/* Navigation Bar */

#nav {}

#site-name {}

#theme-control {}

#theme-control * {}

#theme-control #pick-color {}

#theme-control input {}

/* Header */

#header {}

#banner {}

#banner-image {}

#profile {}

#profile-picture {}

#bio {}

/* Gallery */

.gallery {}

.featured {}

.feed {}

/* Footer */

#footer {}

/* Image Modal */

#view-dialog {}

#view-dialog img {}

#view-dialog span {}